:root {
  --nav-height: 40px;
  --nav-bg-color: rgba(0, 0, 0, 0.1);
  --nav-margin: 0 auto;
  --nav-padding: 10px;

  /*IF --nav-padding is less than 20 dont add it to the calculation*/
  --content-height: calc(100vh - (var(--nav-height)));

  --left-container-width: 200px;
  --left-container-height: var(--content-height);
  --left-container-bg-color: rgba(0, 0, 0, 0.1);

  --editor-bg-color: rgba(0, 0, 0, 0);

  --right-container-width: 200px;
  --right-container-height: var(--content-height);
  --right-container-bg-color: rgba(0, 0, 0, 0.1);

  --inner-margin: 10px;
  --inner-height: calc(100vh - (var(--inner-margin) * 2) - var(--nav-height) - var(--nav-margin));
  --inner-width: calc(100% - 2 (var(--inner-margin)));
  --inner-border-radius: 8px;
  --inner-bg-color: rgba(0, 0, 0, 0.1);
  --inner-closed-width: 50px;
}

#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#nav {
  display: flex;
  flex-direction: row;
  margin: var(--nav-margin);
  border: 1px solid black;
  border-radius: 25px;
  max-width: 95%;
  height: var(--nav-height);
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-color);
  padding: var(--nav-padding);
}

#content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  width: 100%;
  height: 100%;
}

#left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid black;
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: var(--left-container-bg-color);
  z-index: 1;
}

#editor {
  display: flex;
  margin: 0px;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  background-color: var(--editor-bg-color);
}

#right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  border: 1px solid black;
  position: absolute;
  right: 0px;
  background-color: var(--right-container-bg-color);
  z-index: 1;
}
#innerEditor {
  max-height: var(--content-height);
  height: 100%;
  width: 100%;
}

#innerEditorCanvas {
  height: 100%;
  pointer-events: all;
}
.inner {
  pointer-events: all;
  height: 100%;
  margin: 0 auto;
  border-radius: var(--inner-border-radius);
  background-color: var(--inner-bg-color);
  max-width: var(--inner-width);
  width: 175px;
  /* min-width: calc(var(--left-container-width) - (var(--inner-margin) * 2)); */
  /* overflow: hidden; */
  right: inherit;
  left: inherit;
  /* transition: width 0.5s ease-in-out; */
}

#innerRight {
    max-height: 100%;
    max-width: min-content;
    overflow-y: auto;
}

#innerLeft {
    max-height: 100%;
    max-width: min-content;
    overflow-y: auto;
    backdrop-filter: blur(10px);
}

.inner::-webkit-scrollbar, #innerRight::-webkit-scrollbar, #innerLeft::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .inner, #innerRight, #innerLeft {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

#innerEditorCanvas {
  max-height: var(--content-height);
}

.resize-bar-v {
  box-sizing: border-box;
  max-height: var(--content-height);
  height: 100%;
  width: 7px;
  margin: 1px auto;
  border-right: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  background: linear-gradient(#a9a9a9, #a9a9a9) 2px 0/1px 100% no-repeat;
}
.resize-bar-v:hover {
  background: linear-gradient(#747474, #1b1b1b) 2px 0/1px 100% no-repeat;
  border-right: #747474 solid 1px;
  border-left: #747474 solid 1px;
  cursor: col-resize;
}

.resize-bar-h {
  box-sizing: border-box;
  width: 20px;
  height: 7px;
  margin: 10px auto;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  background: linear-gradient(#a9a9a9, #a9a9a9) 0 2px/100% 1px no-repeat;
}


/* Individual styles */
 
#navGitIcon {
  width: 35px;
  height: 30px;
  padding-left: 5px;
}
#navGitLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
}
#navGitLink > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
}
#navLogo {
  line-height: 0%;
  width: 50px;
  padding: 5px;
}

.draggable-item{
  touch-action: none;
  max-width: 100%;
}
